@*Modal - Likes*@
<div class="modal fade" id="likes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">People who like "@Model.Title"</h4>
            </div>

            <div class="modal-body">
                <ul>
                    @foreach (var like in Model.Likes)
                    {
                        <li>@like.FullName - @like.UserType - @UniversitySystemMVC.Extensions.CalculateRelativeTime.Calculate(like.DateCreated)</li>
                    }
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>
