@model UniversitySystemMVC.ViewModels.StudentsVM.StudentsIndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Welcome Student. This is your account</h2>

<h3>Course: @Model.Course.Name</h3>

<table class="table">
    <tr>
        <th>Subject</th>
        <th>Grades</th>
        <th>Teachers</th>
    </tr>
    @foreach (var cs in Model.CoursesSubjects)
    {
        <tr>
            <td>@cs.Subject.Name</td>
            <td>@string.Join(", ", cs.Subject.Grades.Where(g => g.StudentId == Model.Student.Id).Select(g=>g.GradeValue))</td>
            <td>@string.Join(", ", cs.Teachers.Select(t=>t.LastName))</td>
        </tr>
    }
</table>