body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-danger {
    color: #f00;
}

.subjects-list {
    display: none;
}

    .subjects-list ul {
        list-style: none;
    }

    .subjects-list li input[type=checkbox] {
        margin-right: 6px;
        margin-top: -1px;
    }

.add-grade-btn {
    margin: 0;
    padding: 2px;
}

.remove-grade-btn {
    padding: 0;
}

.add-grade-btn img {
    display: inline-block;
    padding: 0;
    margin: 0;
    max-width: 19px;
    max-height: 19px;
}

.remove-grade-btn img {
    max-width: 14px;
    max-height: 14px;
}

.add-grade-input {
    max-width: 26px;
}

.flash-msg {
    margin-top: 22px;
}

    .flash-msg h4 {
        margin-top: 10px;
    }

.grade-value:hover {
    text-decoration: underline;
    cursor: pointer;
}

#articles article {
    padding: 18px;
    margin: 22px 0;
    background-color: rgb(250, 242, 255);
}
    #articles article header {
        border-bottom: 1px solid #ccc;
    }
    #articles article header:after {
        content: "";
        clear: both;
        display: block;
    }
        #articles article header h2 {
            font-size: 168%;
            
            padding-bottom: 4px;
            margin-top: 0;
        }

    #articles article .article-date {
        font-style: italic;
    }
    #articles article .article-content {

    }
    #articles article .article-content::first-letter {
        font-weight: bold;
        font-size: 250%;
        font-family: 'Times New Roman';
        padding: 3px;
    }